

html,
body,
head {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
}

element {
--phthalo-green: #14281dff;
--hunter-green: #355834ff;
--antique-bronze: #6e633dff;
--light-french-beige: #c2a878ff;
--baby-powder: #f1f5f2ff;
}

.App {
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.AppBar {
  height: 105px;
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  /* max-width: 1500px; */
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}

.Footer {
  background-color: lightgray;
  padding: 10px 10px 0px 10px;
  position: fixed;
  /* font-weight: bold; */
  bottom: 0;
  width: 100%;
  height: 2.5rem; 
  text-align: center;
}

.logo {
  margin-left: 25px;
  font-size: 25px;
  margin-right: auto;
  font-weight: bolder;
  display: inline-block;
  flex: 1;
}

.menu {
  flex: 2;
  height: 100%;
  display: flex;
  gap: 25px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  list-style: none;
  text-decoration: none;
  font-family: "Noto Sans", sans-serif;
  font-size: 16px;
  margin-right: 40px;
  font-weight: bold;
}

.HomeContainer {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
  position: sticky;
}

.HomeContainer:hover {
  filter: brightness(120%);
}

a {
  color: black
}

a:hover {
  color:#01bf71;
  transition: 0.2s ease-in-out;
  cursor: pointer;
  position: sticky;
}

.bars {
  flex: 1;
  font-size: 28px;
  align-items: center;
  justify-content: right;
  display: flex;
}

/*  Social Icons  */

.SocialIconsContainer {
  display: flex;
  gap: 15px;
  margin-right: 25px;
  margin-left: auto;
  align-items: center;
  margin-top: 10px;
}

.icon-facebook, .icon-linkedin, .icon-phone {
  height: 30px;
  width: 30px;
}

.icon-facebook:hover, .icon-linkedin:hover, .icon-phone:hover {
  color: #01bf71;
}

.icon-bars {
  margin-right: 25px;
}

.icon-bars:hover {
  color: #01bf71;
  transition: 0.2s ease-in-out;
  cursor: pointer;
}


/*  About Us */

.AboutUsContainer {
  max-width: 1500px;
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
}

.AboutUsTagline {
  text-align: center;
}

.AboutUsBody {
  text-align: left;
  margin-top: 35px;
  font-size: 18px;
}

.AboutUsContentContainer {
  display: flex;
  justify-content: center;
  gap: 50px;
  margin-top: 25px;
  font-weight: light;
  margin-bottom: 25px;
}

.AboutUsBanner {
  margin-right: auto;
  margin-left: auto;
  display: block;
}

.BannerContainer {
  width: 100%;
  margin-bottom: 25px;
}


.AboutUsMenuBtn {
  margin-top: 45px;
  margin-right: 15px;
  background-color:#01bf71;
  border-radius: 15px;
  border: .75px solid black;
  font-size: 18px;
  padding: 15px;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  cursor: pointer;
}

.AboutUsEventMenuBtn {
  margin-top: 15px;
  margin-right: 15px;
  background-color: #01bf71;
  border-radius: 15px;
  border: .75px solid black;
  font-size: 18px;
  padding: 15px;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  cursor: pointer;
}

.AboutUsMenuBtn:hover, .AboutUsEventMenuBtn:hover {
  filter: brightness(150%);
  transition: 0.2s ease-in-out;
}

/* Mobile Styling  */

@media only screen and (max-width: 900px) {
  .AboutUsImage {
    display: none;
  }
  .menu {
    display: none;
  }
  .icon-facebook, .icon-linkedin, .icon-phone {
    display: none;
    visibility: hidden;
  }
  .ImageSliderContainer {
    display: none
  }
  .icon-bars {
    margin-right: 15px;
    font-size: 20px;
    visibility: visible;
  }
  .bars {
    display: flex;
    justify-content: right;
  }
  .logo {
    font-size: 15px;
    margin-left: 15px;
  }
  .AboutUsTagline {
    font-size: 15px;
  }
  .AboutUsBody {
    font-size: 12px;
    text-align: center;
    margin-top: 5px;
  }
  .AboutUsContainer {
    width: 100%;
    height: 100%;
  }
  .AboutUsContentContainer {
    margin-top: 0px;
  }
  .OurTeamInfo {
    flex-direction: column;
    gap: 10px;
    margin-top: 15px;
  }
  .OurTeamTagline {
    text-align: center;
    width: 100%;
    justify-content: center;
    align-items: middle;
  }
}

a:link {
  text-decoration: none;
  color: black;
}

/* Cafe Menu */

.CafeMenuContainer {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding: 1.5em;
}

.CafeMenuMenu {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  margin-bottom: 100px;
}

.CafeMenuGroupHeading {
  margin: 0;
  padding-bottom: 1em;
  padding-top: 1em;
  border-bottom: 3px solid #01bf71;
  margin-top: 30px;
}

.CafeMenuGroup {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1em;
  padding: 1.5em 0;
  margin-bottom: 30px;
}

.CafeMenuItem {
  display: flex;
}

.CafeMenuItemText {
  flex-grow: 1;
  margin-right: 2em;
}

.CafeMenuItemHeading {
  margin-bottom: .6em;
  display: flex;
  justify-content: space-between;
}

.CafeMenuPDFMessage {
  text-align: center;
  margin-top: 30px;
}

@media screen and (min-width: 992px) {
  .CafeMenu {
      font-size: 18px;
  }

  .CafeMenuGroup {
      grid-template-columns: repeat(2, 1fr);
  }
}

/* Our Team */


.OurTeam {
  max-width: 1500px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 35px;
  /* border-top: 1.5px solid black; */
  text-align: center;
  align-items: center;
  margin-bottom: 150px;
}

.OurTeamTagline {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding-top: 30px;
  padding-bottom: 20px;
}

.OurTeamInfo {
  display: flex;
  gap: 50px;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-bottom: 25px;
  margin-top: 25px;
  
}

.TeamInfoHeader {
  margin: 0px;
  padding: 0px;
  font-weight: bold;
}

.TeamInfoDesc {
  margin: 0px;
  padding: 0px;
}

.TeamInfoAvatar {
  height: 240px; 
  width: 222px; 
  margin-bottom: 15px;
}

.InfoContainer {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 5px;
  background-color: #01bf71;
  padding: 50px;
  border-radius: 10px;
}

.InfoContainer:hover {
  transform: scale(1.1);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}

menu.Link:hover {
  border-bottom: 1px solid black;
}

/*  Tabs   */

.TabContainer {
  display: flex;
  height: 100%;
  margin-right: auto;
  margin-left: auto;
  flex-direction: column;
  position: relative;
  background: #f1f1f1;
  /* margin: 100px auto 0; */
  word-break: break-all;
  border: 1px solid rgba(0, 0, 0, 0.274);
}

.BlockTabs {
  display: flex;
}
.tabs {
  padding: 15px;
  text-align: center;
  width: 50%;
  background: rgba(128, 128, 128, 0.075);
  cursor: pointer;
  border-bottom: 1px solid rgba(0, 0, 0, 0.274);
  box-sizing: content-box;
  position: relative;
  outline: none;
}
.tabs:not(:last-child){
  border-right: 1px solid rgba(0, 0, 0, 0.274);
}

.active-tab  {
  background: white;
  border-bottom: 1px solid transparent;
}

.active-tab::before {
  content: "";
  display: block;
  position: absolute;
  top: -5px;
  left: 50%;
  transform: translateX(-50%);
  width: calc(100% + 2px);
  height: 5px;
  background: #01bf71;
}

.content-tabs {
  flex-grow : 1;
}
.content {
  background: white;
  padding: 20px;
  width: 100%;
  height: 100%;
  display: none;
}
.content h2 {
  padding: 0px 0 5px 0px;
}
.content hr {
  width: 100px;
  height: 2px;
  background: #222;
  margin-bottom: 5px;
}
.content p {
  width: 100%;
  height: 100%;
}
.active-content {
  display: inline-block
}

::before, ::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.EventsInfoBody {
  text-align: center;
}

.EventsContainer {
  font-family: "Poppins", sans-serif;
  text-align: center;
}

.EventsBrunchInfo {
  max-width: 1500px;
  padding: 25px;
}

.QuicheTeaContiner {
  display: flex;
  gap: 30px;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 25px;
  margin-bottom: 20px;
  margin-left: 50px;
}

.QuicheFrittataContainer {
  text-align: left;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  
}

.TeaContainer {
  text-align: left;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
  margin-bottom: 25px;
  margin-top: 25px;
}

.QuicheList {
  padding: 0px;
  text-align: left;
}
.TeaList {
  margin-left: auto;
  margin-right: auto;
  padding: 0px;
}

.BrunchAddOns {
  /* display: grid; */
  display: flex;
  flex-direction: column;
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
  /* grid-template-columns: repeat(2,1fr); */
  gap: 25px;
  padding: 15px;
  margin-bottom: 30px;
  text-align: center;
}

.RowFlex {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  margin-bottom: 25px;
  margin-top: 40px;
  margin-right: 50px;
}

.OptionsContainer {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
}

.OptionsList {
  padding: 0px;
  text-align: left;
}

.AddOnHeading {
  margin-bottom: 0.6em;
  display: flex;
  justify-content: space-between;
  font-weight: bold;
}
.AddOnDesc {
  text-align: left;
  display: block;
}
.AddOnContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* margin-right: auto;
  margin-left: auto; */
  flex-grow: 1;
    margin-right: 2em;
}